@inherits LayoutComponentBase

@using BlazorWorker.Core
@using BlazorWorker.BackgroundServiceFactory
@using BlazorWorker.WorkerBackgroundService 

@inject Simulation simulation
@inject HttpClient Http
@inject IJSRuntime jsRuntime
@inject SimulationManager manager
@inject IWorkerFactory workerFactory

<div class="page">
    <div class="sidebar" style="width: 80px">
        <NavMenu />
    </div>
@Body
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
{
    if (firstRender)
    {
        //await manager.Initialize(workerFactory);
        //manager.ready = true;
    }
}
}

